{% extends 'core/base.html' %}
{% load static %}
{% block title %}Carter Ellis | About{% endblock %}

{% block content %}
<section class="hero">
    <h1>About Me</h1>
</section>



<section class="hero-text2">
    <div>
        <p>
            I was born and raised in Terre Haute, Indiana, and my interest in technology started early. 
            My brother introduced me to video games when I was young, and that curiosity quickly grew into a fascination with how games and computers actually work.
        </p>

        <p>
            I got my first computer in middle school and spent years experimenting with it, eventually learning how to install Minecraft mods and host multiplayer servers for my friends. 
            That hands-on curiosity eventually sparked a deeper interest in programming and building software. 
            During my senior year of high school, I began teaching myself how to code and build small projects to strengthen my skills, discovering that I genuinely enjoyed the process.
        </p>
        
        <p>
            By the end of the summer before my senior year of college, I published my first video game, Pixel Par, on Steam, where it has sold over 100 units. 
            That experience solidified my passion for software development and reinforced my interest in building interactive systems that people genuinely enjoy using.
        </p>
        <a href="https://store.steampowered.com/app/3812820/Pixel_Par/" target="_blank" rel="noopener noreferrer" title="Pixel Par">
            <img src="{% static 'core/PP_Night_Beach.png' %}" alt="Pixel Par" class="about-image">
        </a>
        <p class="image-caption">
            Pixel Par - Night Beach (Published on Steam)
        </p>
        <p>
            Outside of programming, I enjoy running and playing sports like tennis, pickleball, and basketball. 
            I'm naturally competitive and enjoy challenging myself through athletics, strategic games like chess, and competitive multiplayer video games with friends.
            My dad also fostered my appreciation for the outdoors, and we've shared memorable hiking and camping trips in places like the Great Smoky Mountains and the Tetons.
            Whether in competition, collaboration, or the outdoors, I'm driven by a desire to grow, improve, and push myself further.
        </p>
        <div class="about-cta">
            <a href="{% url 'contact' %}" class="transparent-btn" >View My Projects </a>
        </div>
        
        
    </div>
    
</section>







{% endblock %}