{% extends 'core/base.html' %}
{% block title %}Carter Ellis | Portfolio{% endblock %}

{% block content %}
    <section class="hero-text">
        <p>
            Hello, I'm Carter, a senior at Purdue University studying Computer Science. 
            I'm passionate about building interactive software and real-world applications, 
            with a strong interest in full-stack development and game design. 
        </p>

        <a href="#" class="btn">View My Work</a>
    </section>
{% endblock %}

